.gangWrap .gangPad .famillyPad .menuWrap .mainPad .padBtnRow .btn:hover{
    border: 1px solid #37ed1f;
}

.gangWrap .gangPad .famillyPad .gangBankInfoUse::-webkit-scrollbar,
.gangWrap .gangPad .famillyPad .gangLesterOpt::-webkit-scrollbar,
.gangWrap .gangPad .famillyPad .gangPlayerList::-webkit-scrollbar {
    width: 7px;
    background-color: #2f5c27;
    border-radius: 3px;
}
 
.gangWrap .gangPad .famillyPad .gangBankInfoUse::-webkit-scrollbar-track,
.gangWrap .gangPad .famillyPad .gangLesterOpt::-webkit-scrollbar-track,
.gangWrap .gangPad .famillyPad .gangPlayerList::-webkit-scrollbar-track {
    position: absolute;
}
 
.gangWrap .gangPad .famillyPad .gangBankInfoUse::-webkit-scrollbar-thumb,
.gangWrap .gangPad .famillyPad .gangLesterOpt::-webkit-scrollbar-thumb,
.gangWrap .gangPad .famillyPad .gangPlayerList::-webkit-scrollbar-thumb {
    top: 2px;
    background-color: #49953c;
    background-repeat: repeat-y;
    border-radius: 3px;
}

.gangWrap .gangPad .famillyPad .gangBankInfoUse .selectRow div,
.gangWrap .gangPad .famillyPad .gangLesterOpt .selectRow div,
.gangWrap .gangPad .famillyPad .gangPlayerList .selectRow div{
    background-color: #4a973b;
}

.gangWrap .gangPad .famillyPad .menuWrap .contentList .headerGangBank .titleTGBank,
.gangWrap .gangPad .famillyPad .menuWrap .contentList .headerList div{
    color: #49963b;
}

.gangWrap .gangPad .famillyPad{
    background-image: url(../img/bandTablet/bgFamil.png);
    width: 100%;
    height: 100%;
    color: #fff;
}

.gangWrap .gangPad .famillyPad .menuWrap .mainPad .btnCar{
    background-image: url(../img/bandTablet/famil_cars.png);
}
.gangWrap .gangPad .famillyPad .menuWrap .mainPad .btnChat{
    background-image: url(../img/bandTablet/famil_chat.png);
}

.gangWrap .gangPad .famillyPad .menuWrap .mainPad .btnList{
    background-image: url(../img/bandTablet/famin_bank.png);
}

.gangWrap .gangPad .famillyPad .menuWrap .mainPad .btnMap{
    background-image: url(../img/bandTablet/famil_map.png);
}

.gangWrap .gangPad .famillyPad .menuWrap .mainPad .btnGBank{
    background-image: url(../img/bandTablet/famil_bank.png);
}
.gangWrap .gangPad .famillyPad .menuWrap .mainPad .btnLester{
    background-image: url(../img/bandTablet/famil_lester.png);
}

.gangWrap .gangPad .famillyPad .menuWrap .contentList{
    background-color: #294d22;
}

.gangWrap .gangPad .famillyPad .menuWrap .gangMapInfo .mapBtn,
.gangWrap .gangPad .famillyPad .menuWrap .footerBtn .footBtnP{
    background-color: #48963a;
}