@font-face {
    font-family: 'RodchenkoCTT';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/RodchenkoCTT.ttf") format("truetype");
}
.player-menu {
    font-family: "OpenSans";
    display: grid;
    grid-template-columns: 70px auto;
    grid-template-rows: 67px auto;
    grid-gap: 5px;
    width: 80vw;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2
}
.player-menu .main {
    display: flex;
    height: 100%;
    grid-area: 2 / 2 / 3 / 3;
    background: rgba(40, 40, 40, 0.9);
}
.player-menu .sidebar {
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / 3 / 2;
}
.sidebar .sidebar-item, .menu-item {
    background-color: rgba(40, 40, 40, 0.9);
    border-top: 5px solid transparent;
}
.sidebar .sidebar-item:hover, .menu-item:hover {
    background-color: rgba(230, 230, 230, 0.9);
    color: black;
    cursor: pointer;
    border-top: 5px solid rgb(134, 69, 200);
}
.sidebar .sidebar-item.active, .player-menu .menu .menu-item.active {
    background-color: white;
    color: black;
    cursor: pointer;
    border-top: 5px solid rgb(115, 58, 173);
}
.sidebar .sidebar-item {
    margin: 0px 5px 5px 10px;
    border-radius: 5px 0 0 5px;
    flex: 0 0 auto;
    height: 60px;
    width: 60px;
    color: white;
}
.sidebar .sidebar-item:last-child {
    margin-bottom: 5px;
}
.sidebar .sidebar-item span {
    margin-left: 30px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'RodchenkoCTT', arial;
}
.sidebar .sidebar-item .custom-fa {
    position: relative;
    width: 36px;
    height: 36px;
}
.sidebar .sidebar-item .fa-user {
    top: 10px;
    left: 14px;
}
.sidebar .sidebar-item .fa-address-card {
    top: 10px;
    left: 12px;
}
.sidebar .sidebar-item .fa-exclamation-triangle {
    top: 10px;
    left: 12px;
}
.sidebar .sidebar-item .fa-cog {
    top: 10px;
    left: 12px;
}
.sidebar .sidebar-item .fa-shopping-cart {
    top: 10px;
    left: 8px;
}
.player-menu .menu {
    display: flex;
    flex-direction: row;
    grid-area: 1 / 2 / 2 / 3;
}
.player-menu .menu .menu-item {
    margin: 0 10px 0 0;
    flex: 1 1 0;
    height: 60px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px;
    justify-content: center;
    display: flex;
    align-items: center
}
.player-menu .menu .menu-item:last-child {
    margin-right: 0px;
}
.player-menu .main .card {
    flex: 1;
    margin: 10px 0 10px 10px;
    background: rgba(30, 30, 30, 0.9);
    color: white;
    padding: 10px;
}
.player-menu .main .card:last-child {
    margin-right: 10px;
}
.player-menu .main .card .card-header {
    margin-top: 0px;
    font-size: 24px;
    font-family: 'RodchenkoCTT', arial;
    text-transform: uppercase;
}
.player-menu .btn {
    margin: 10px;
    padding: 10px 20px;
    background: rgb(60, 60, 60);
    border: 2px solid transparent;
    border-radius: 10px;
    color: white;
    font-family: 'RodchenkoCTT', arial;
    text-transform: uppercase;
    float: right;
}
.player-menu .btn:focus {
    outline: 0;
}
.player-menu .btn:hover {
    border-color: rgb(115, 58, 173);
    cursor: pointer;
}
.user-page {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
}
.user-page .player {
    display: flex;
    grid-area: 1 / 2 / 3 / 3;
    background-color: rgba(20, 20, 20, 0.9);
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.user-page .player .player-block {
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px 0;
    border-bottom: 5px solid rgb(115, 58, 173);
    font-size: 24px;
    text-transform: uppercase;
    font-family: 'RodchenkoCTT', arial;
}
.user-page .player .player-block .player-name {
    padding: 0 0 10px 0;
    font-size: 40px;
}
.user-page .player .player-image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.user-page .player .player-image img {
    width: 100%;
}
.user-page .item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: rgba(20, 20, 20, 0.9);
}
.user-page .item .item-header {
    width: 100%;
    text-align: center;
    color: white;
    background-color: black;
    border-bottom: 3px solid rgb(115, 58, 173);
    text-transform: uppercase;
    font-family: 'RodchenkoCTT', arial;
}
.user-page .item .item-image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.user-page .item .hours, .user-page .item .exp, .user-page .item .rating, .user-page .item .characters {
    font-family: "OpenSansExtraBold";
    color: rgba(255, 255, 255, 1);
}
.user-page .item .hours, .user-page .item .exp, .user-page .item .rating, .user-page .item .characters {
    position: absolute;
}
.user-page .item .hours {
    bottom: -40px;
}
.user-page .item .exp {
    font-size: 24pt;
}
.user-page .item .rating {
    color: rgba(64, 64, 64, 1);
    font-size: 18pt;
    margin-top: 5px;
}

.user-page .item .characters {
    color: rgba(64, 64, 64, 1);
    font-size: 24pt;
    margin-top: 25px;
}
.user-page .item img {
    width: 50%;
}
.character-page .character-carousel, .character-page .vehicles-carousel  {
    display: flex;
    flex-direction: column;
    max-height: 680px;
    overflow-y: scroll;
}

.character-page .character-carousel .apartment {
    display: grid;
    grid-template-columns: 115px 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
    background: black;
    padding: 10px;
    border-top: 3px solid rgb(115, 58, 173);
}
.character-page .character-carousel .apartment span, .character-page .business span {
    font-family: "OpenSansExtraBold";
}
.character-page .character-carousel .apartment div:first-child {
    background-size: auto 100%;
}
.character-page .business {
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px;
}
.character-page .business .businessImg {
    width: 150px;
    display: flex;
    justify-content: center;
}
.character-page .business .businessImg img,
.character-page .vehicles-carousel .vehicle .carImg {
    width: 100%;
    object-fit: contain;
}
.character-page .vehicles-carousel .vehicle {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 3fr 8fr;
    margin: 0 0 10px 0;
    background: black;
    padding: 10px;
    border-top: 3px solid rgb(115, 58, 173);
}
.character-page .vehicles-carousel .veh-states {
    display: grid;
    grid-template-columns: 7fr 108px 1fr;
    grid-template-rows: repeat(4, 1fr);
    font-size: 10pt;
    grid-row-gap: 2px;
    margin-left: 10px;
}

.character-page .vehicles-carousel .veh-name {
    grid-column-start: 1;
    grid-column-end: 3;
    font-family: 'Agencyr';
    font-size: 12pt;
    margin-left: 2.5vh;
}

.character-page .vehicles-carousel .veh-percent {
    font-family: 'Agencyr';
    font-size: 10pt;
    margin-left: 10px;
    margin-top: 0;
}

.character-page .vehicles-carousel .veh-states .progress {
    margin-top: 6px;
    background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) 20px, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 22px);
    height: 7px;
}

.character-page .vehicles-carousel .veh-states .progress div {
    background: repeating-linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1) 20px, rgba(0, 0, 0, 0) 20px, rgba(0, 0, 0, 0) 22px);
    height: 100%;
}
.character-page .no-car-btn {
    position: absolute;
    right: 0;
    bottom: 0;
}
.character-page .no-car-desc {
    position: relative;
}
.character-page .character-no-home .no-home-text {
    position: relative;
}
.character-page .character-no-home .no-home-text .btn{
    position: absolute;
    bottom: 0px;
    right: 0px;
}
.character-page .top {
    display: grid;
    grid-template-columns: 148px 1fr;
    grid-gap: 10px;
}
.character-page .bottom {
    margin-top: 10px;
    position: relative;
}
.character-page .bottom .btn, .character-page .no-biz .btn, .character-page .no-car .btn {
    position: absolute;
    bottom: -70px;
    right: 0px;
}
.character-page .no-biz {
    margin-top: 10px;
    position: relative;
}
.character-page .nothing-image {
    text-align: center;
    background-color: white;
    opacity: 0.1;
    padding: 10px;
}
.character-page .nothing-image img {
    width: 128px;
}
.character-page h4 {
    margin: 0 0 10px;
}
.player-menu .child-card {
    margin: 0 0 10px 0;
    border-top: 3px solid rgb(115, 58, 173);
    background: black;
    padding: 10px;
}
.character-page .no-car {
    position: relative;
}
.character-page .information {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.character-page .organization {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr;
    border-top: 3px solid rgb(115, 58, 173);
}
.character-page .organization.child-card, .character-page .job.child-card {
    margin: 0;
}
.character-page .organization .organization-head {
    grid-area: 1 / 1 / 2 / 3;
    text-align: center;
}
.character-page .organization .organization-img {
    display: flex;
    justify-content: center;
    grid-area: 2 / 1 / 3 / 2;
}
.character-page .organization .organization-img img {
    width: 100%;
    object-fit: contain;
}
.character-page .organization .organization-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    grid-area: 2 / 2 / 2 / 3;
}
.character-page .job {
    border-top: 3px solid rgb(115, 58, 173);
}
.character-page h1 {
    text-align: center;
}
.character-page .job-head span {
    font-family: "OpenSansSemiBold";
    color: white;
}
.character-page .job-body {
    color: white;
}
.character-page .job-body span {
    font-family: "OpenSansSemiBold";
    color: white;
}

.player-menu .report-page .child-card {
    background-color: rgba(30, 30, 30, 0.9);
    min-height: 250px;
    color: white;
}
.player-menu .child-card h4 {
    margin: 0;
}
.player-menu .report-page textarea {
    resize: none;
    background: rgba(82, 82, 82, 0.75);
    outline: 0;
    border: none;
    margin: 10px 0;
    border-radius: 3px;
    padding: 10px;
    color: white;
    width: 100%;
    min-height: 150px;
}

.player-menu .report-page .message-length {
    font-family: "OpenSansSemiBold";
    font-size: 11pt;
    position: relative;
    float: right;
    margin-top: -35px;
    margin-right: 5px;
    height: 30px;
}

.player-menu .report-page .buttons {
    position: relative;
}

.player-menu .report-page .buttons .btn:first-child {
    background-color: rgba(6, 202, 90, 0.9);
}

.player-menu .report-page .buttons .btn:last-child {
    background-color: rgba(172, 28, 28, 0.9);
}
.report-page .reportBlock {
    max-height: 60vh;
    background-color: rgba(0, 0, 0, 0.65);
}
.report-page .reportBlock .report {
    padding: 1vh;
    background-color: black;
    height: 2vh;
    line-height: 1.85vh;
    margin-bottom: 5px;
    cursor: pointer;
}
.report-page .reportBlock .report.active {
    border-left: 5px solid rgb(115, 58, 173);
}
.report-page .reportBlock  ::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: rgb(115, 58, 173);
    background-color: rgb(115, 58, 173);
}
.report-page .report-third {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.report-page .center {
    display: flex;
    justify-content: center;
}
#report .report_chat .scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 60vh;
}
#report {
    position: relative;
}
#report .report_chat input[type="text"]:focus {
    outline: none;
}
#report ::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: rgb(115, 58, 173);
    background-color: rgb(115, 58, 173);
}
#report .report_chat input[type="text"]::placeholder {
    color: #aaa;
}
#report .report-chat {
    padding-bottom: 50px;
}
#report .report_chat .bg {
    background-color: rgba(0, 0, 0, 0.6);
}
#report .report_chat .message {
    font-weight: bold;
    padding: 10px;
    text-transform: none;
    word-break: break-word;
}
#report #message {
    width: calc(100% - 10px);
    padding: 10px;
    position: absolute;
    bottom: 10px;
}
#report ::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: rgb(115, 58, 173);
    background-color: rgb(115, 58, 173);
}

::-webkit-scrollbar {
    width: 0.46296vh;
}

::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #222;
    background-color: #222;
}
.settings-page .password {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.settings-page .selector {
    padding: 10px;
    border: none;
    border-bottom: 3px solid #ccc;
    text-align: center;
    margin: 0 0 10px;
    background: rgba(50,50,50,0.7);
    color: white;
    font-family: 'RodchenkoCTT';
    width: 100%;
    outline: none;
}
.settings-page .selector:hover {
    background-color: #ccc;
    border-bottom: 3px solid white;
}
.settings-page .selector.active {
    border-bottom: 3px solid rgb(115, 58, 173);
}
.settings-page .spawns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px
}
.settings-page .spawns-grid .spawn-houses{
    display: flex;
    flex-direction: column;
}
.settings-page .h4-margin h4 {
    margin-bottom: 10px;
}
.child-card.h4-margin h4{
    margin-bottom: 10px;
}
.child-card.h4-center h4{
    text-align: center;
}
.settings-page .ui-settings {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.settings-page .ui-settings .ui-settings-hud {
    display: flex;
    flex-direction: column;
}
.playermenu-shop {
    display: grid;
    grid-template-rows: 1fr min-content;
}
.playermenu-shop .shop-balance {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
}
.playermenu-shop .payments {
    list-style: none;
    max-height: 40vh;
    overflow-y: scroll;
}
.playermenu-shop .payments li span {
     font-family: "OpenSansBold";
}
.playermenu-shop .payments li {
    padding: 5px;
    background: #222;
    text-align: center;
}
.playermenu-shop .payments li:nth-child(even) {
    background: #444;
}
.playermenu-shop .coins-desc img {
    margin: 0px 10px -2px;
}
.playermenu-shop .conversion-page .conversion-box {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    font-family: "OpenSansBold";
}
.playermenu-shop .conversion-page .conversion-box p {
    grid-area: 1 / 1 / 2 / span 4;
    text-align: center;
}
.playermenu-shop .conversion-page .conversion-box .btn{
    grid-area: 3 / 2 / 4 / 3;
}
.playermenu-shop .conversion-page .conversion-box .conversion-block {
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: white;
}
.playermenu-shop .conversion-page .conversion-box .conversion-block .conversion-input {
    border: 2px solid rgb(115, 58, 173);
    padding: 5px;
    color: black;
    max-width: 300px;
    margin: auto;
}

.playermenu-shop .conversion-page .conversion-box .top {
    font-size: 20px;
    color: rgba(6, 202, 90, 1);
    text-align: center;
}
.playermenu-shop .conversion-page .conversion-box .middle {
    font-size: 30pt;
    text-align: center;
}
.playermenu-shop .conversion-page .conversion-box .conversion-block .bottom {
    text-align: center;
    font-family: "OpenSans";
    font-size: 9pt;
}
.playermenu-shop .current-balance .balance {
    margin: 3px 0;
}
.playermenu-shop .current-balance .balance span {
    font-family: "OpenSansBold";
}
.playermenu-shop .current-balance .balance img {
    position: relative;
    bottom: -4px;
}
.playermenu-shop .donate-reference p {
    margin: 0;
}
.shop-packages .packages-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.shop-packages .packages-box .package {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shop-packages .packages-box p {
    grid-area: 1 / 1 / 2 / span 4;
    text-align: center;
    font-family: "OpenSansBold";
}
.shop-packages .packages-box .package img, .full-package-desc img {
    object-fit: contain;
    width: 80%;
}
.full-package-desc .package-price, .full-package-desc .package-description, .full-package-desc h4 {
    text-align: center;
}
.shop-packages .package-price, .shop-packages .package-description {
    text-align: center;
}
.shop-packages .package-description {
    font-family: 'RodchenkoCTT';
}
.full-package-desc .child-card {
    flex-direction: column;
    display: flex;
}
.full-package-desc .back-btn {
    width: 200px;
}
.full-package-desc .btn img {
    object-fit: cover;
    width: 24px;
    height: 24px;
}
.full-package-desc .btn span {
    margin-right: 10px;
    top: -5px;
    position: relative;
}
.playermenu-shop .current-balance {
    text-align: center;
}
/****** Edit window styles ********/
#edit-window {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -256px;
    width: 512px;
    height: 480px;
    background-color: rgba(30, 31, 32, 1);
    background-image: url(../img/playerMenu/editWindowBg.png);
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: 150% 10%;
    border: 8px solid rgba(39, 40, 42, 1);
}

#edit-window .close {
    position: relative;
    right: 2px;
    margin: 13px 13px 0 auto;
    height: 24px;
    width: 26px;
    background: rgb(255, 255, 255);
    text-align: center;
    color: rgb(30, 31, 33);
    font-size: 24px;
    line-height: 22px;
    padding: 7px 5px 0;
}

#edit-window .close:hover {
    background: rgb(169, 35, 40);
    color: rgb(255, 255, 255);
}

#edit-window .box {
    height: 100%;
    font-family: "OpenSans";
    color: rgb(255, 255, 255);
    display: grid;
    text-align: center;
    font-size: 10pt;
    padding-top: 45px;
}

#edit-window .headblocker {
    font-size: 10pt;
    position: absolute;
    color: silver;
    font-family: openSans;
    left: 30.5%;
    margin-top: -20px;
}

#edit-window .box .head {
    font-size: 11pt;
    text-align: center;
    font-family: "OpenSansSemiBold";
}

#edit-window input {
    height: 28px;
    width: 195px;
    outline: 0;
    background-color: rgb(185,185,185);
    font-size: 35pt;
    color: rgb(50, 51, 53);
    letter-spacing: -3px;
    border: 1px solid silver;
    text-align: center;
}

#edit-window .button {
    color: rgb(255, 255, 255);
    height: 30px;
    text-align: center;
    font-size: 12pt;
    font-family: "OpenSansSemiBold";
    margin: 3px;
}

#edit-window .button div {
    padding-top: 8px;
}

#edit-window .green-button {
    background-color: rgb(54,133,42);
    min-width: 80px;
}

#edit-window .green-button div {
    padding-top: 4px;
}

#edit-window .green-button:hover {
    background-color: rgb(55, 133, 42);
}

#edit-window .edit-pin {
    grid-template-rows: min-content min-content 15px min-content min-content 150px;
}

#edit-window .edit-email {
    margin-top: 60px;
}

#edit-window .edit-email .gray-button {
    width: 238px;
}

#edit-window .gray-button {
    height: 41px;
    color: rgb(30, 31, 33);
    background-color: rgba(255, 255, 255, 0.5);
}

#edit-window .gray-button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}


#edit-window .pass {
    position: relative;
    margin: 15px auto 7px auto;
}

#edit-window .button {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 750px) {
    .player-menu {
        width: 80vw;
        font-size: calc(12px + 6 * ((100vw - 750px) / 550));
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .player-menu h1 {
        font-size: calc(22px + 6 * ((100vw - 750px) / 550));
    }
    .player-menu h2 {
        font-size: calc(18px + 6 * ((100vw - 750px) / 550));
    }
    .player-menu p {
        font-size: calc(8px + 4 * ((100vw - 750px) / 550));
    }
    .player-menu button {
        font-size: calc(10px + 4 * ((100vw - 750px) / 550));
    }
    .user-page .player .player-image {
        width: 70%;
    }
    .user-page .item .characters {
        margin-top: 15px;
    }
    .user-page .item .hours {
        bottom: -55px;
    }
    .character-page .top {
        grid-template-columns: 84px 1fr;
    }
    .character-page .nothing-image img {
        width: 64px;
    }
    .user-page .player .player-image img {
        width: 80%;
    }
    .character-page .business .businessImg {
        width: 150px;
    }
}
@media screen and (min-width: 1300px) {
    .player-menu {
        width: 60vw;
        font-size: 18px;
    }
    .player-menu h1 {
        font-size: 28px;
    }
    .player-menu h2 {
        font-size: 24px;
    }
    .player-menu p {
        font-size: 12px;
    }
    .player-menu button {
        font-size: calc(10px + 4 * ((100vw - 750px) / 650));
    }
    .user-page .player .player-image {
        width: 100%;
    }
    .user-page .item .hours {
        bottom: -60px;
    }
    .user-page .item .characters {
        margin-top: 15px;
    }
    .character-page .top {
        grid-template-columns: 148px 1fr;
    }
    .character-page .nothing-image img {
        width: 128px;
    }
    .user-page .player .player-image img {
        width: 80%;
    }
    .character-page .business .businessImg {
        width: 250px;
    }
}

@media screen and (min-width: 1600px) {
    .user-page .item .characters {
        margin-top: 25px;
    }
    .character-page .business .businessImg {
        width: 300px;
    }
}
