#selectorCharacters {
    font-family: 'GothamPro';
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-gap: 50px;
    width: 80%;
    /* height: 80%; */
    max-width: 900px;
    /* max-height: 600px; */
    padding: 40px;
    background: rgba(28, 14, 38, 0.8);
    border-radius: 10px;
    border: 1px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#selectorCharacters .selector-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
#selectorCharacters .selector-header h2,
#selectorCharacters .selector-header h3 {
    margin: 0;
    font-family: 'GothamProBlack';
}
#selectorCharacters .selector-header h2 {
    color: #c000f5;
    font-size: 20px;
}
#selectorCharacters .selector-header h3 {
    color: white;
    font-size: 18px;
}
#selectorCharacters .selector-server-name {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4a2162;
    border-radius: 10px;
    color: white;
    font-family: 'GothamProBold';
    min-height: 50px;
    font-size: 14px;
}
#selectorCharacters .selector-donate {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 12px;
    background: linear-gradient(to right, #9c00ff 0%,#e300eb 100%);
    color: white;
    font-family: 'GothamProMedium';
}
#selectorCharacters .selector-donate .donate {
    font-family: 'GothamProBold';
    margin-left: 5px;
}
#selectorCharacters .selector-donate img {
    margin: -2px 0 0 4px;
}
#selectorCharacters .user-blocks {
    grid-area: 2 / 1 / 3 / span 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
}
#selectorCharacters .user-block {
    padding: 10px;
    background: #13041b;
    background: linear-gradient(0deg, #7f0096 0%,#4a2162 30%,#13041b 90%);
    border-radius: 5px;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    max-height: 400px;
}
#selectorCharacters .user-block.donate-slot {
    background: linear-gradient(0deg, #967a39 0%,#715525 20%,#13041b 90%);
}
#selectorCharacters .user-block:before {
    background: #13041b;
    width: 50px;
    position: absolute;
    top: -30px;
    left: 0;
    content: '1 слот';
    height: 40px;
    padding: 10px 5px 0 3px;
    border-radius: 5px 5px 0 0;
    color: #ba9cca;
    font-family: 'GothamProBold';
    text-align: center;
    z-index: -1;
}
#selectorCharacters .user-block.free-slot:before {
    content: '2 слот';
}

#selectorCharacters .user-block.donate-slot:before {
    content: 'VIP слот';
    width: 70px;
    color: white;
    background: #ff8e18;
}

#selectorCharacters .user-block-header {
    display: flex;
    border-radius: 5px;
    background: linear-gradient(to right, #9c00ff 0%,#e300eb 100%);
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    height: 30px;
}
#selectorCharacters .user-block.donate-slot .user-block-header {
    background: linear-gradient(to right, #ffaf27 0%,#ff8d17 100%);
}
#selectorCharacters .user-block-header div {
    flex: 1 1 0;
}
#selectorCharacters .user-block-header .user-level {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-start;
}
#selectorCharacters .user-block-header .user-level span {
    font-size: 10px;
    line-height: 16px;
}
#selectorCharacters .user-block-header .user-level .user-level-counter {
    font-size: 14px;
    font-family: 'GothamProBold';
    line-height: 12px;
}
#selectorCharacters .user-block-header .user-character-image {
    position: relative;
}
#selectorCharacters .user-block-header .user-character-image img {
    position: absolute;
    bottom: -50px;
    border-radius: 61px;
    left: 3px;
}
#selectorCharacters .user-block-header .user-hours {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: flex-end;
}
#selectorCharacters .user-block-header .user-hours span {
    font-size: 10px;
    line-height: 16px;
}
#selectorCharacters .user-block-header .user-hours .user-hours-counter {
    font-size: 14px;
    font-family: 'GothamProBold';
    line-height: 12px;
}
#selectorCharacters .user-block-item {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 10px;
    font-size: 12px;
    background: #270f34;
    background: linear-gradient(90deg, #13041b 0%, #471c60 100%);
    border-radius: 0 5px 5px 0;
    margin: 0 0 5px 0;
}
#selectorCharacters .user-block-item .user-block-item-left {
    flex: 1 1 0;
    text-align: left;
}

#selectorCharacters .user-block-item .user-block-item-right {
    flex: 1 1 0;
    text-align: right;
}
#selectorCharacters .user-block .auth-btn,
#selectorCharacters .user-block .open-btn {
    border-radius: 5px;
    background: linear-gradient(to right, #9c00ff 0%,#e300eb 100%);
    align-items: center;
    padding: 10px;
    border: 0;
    outline: none;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-family: 'GothamProBold';
    line-height: 14px;
}
#selectorCharacters .user-block.donate-slot .open-btn {
    background: linear-gradient(to right, #ffaf27 0%,#ff8d17 100%);
}
#selectorCharacters .user-block .auth-btn:hover,
#selectorCharacters .user-block .open-btn:hover {
    box-shadow: inset 0px 0px 5px 2px rgba(0,0,0,0.7);
}
#selectorCharacters .user-block .delete-button {
    text-align: center;
    width: 100%;
    border: 0;
    background: transparent;
    cursor: pointer;
    color: white;
    font-size: 12px;
    margin-top: 8px;
    font-family: 'GothamProLight';
}
#selectorCharacters .user-block p {
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
}
#selectorCharacters .user-block-body {
    text-align: center;
    color: white;
}
#selectorCharacters .user-block-body h4 {
    font-family: 'GothamProBold';
    margin-bottom: 5px;
}
